<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967848756860-e0dulj9003u0bd6rl3rg63s2hhh9ugaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967848756860-e0dulj9003u0bd6rl3rg63s2hhh9ugaq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967848756860-j1p7mbcukdeq913fh917c3tfgljdf4u4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADaurVOMHAUkNrBiLCWLvKZjdnu7O0rI8</string>
	<key>GCM_SENDER_ID</key>
	<string>967848756860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>food-ordering-app-efbc9</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ordering-app-efbc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967848756860:ios:cd79f0ab6a5a00cb06ebf9</string>
	<key>DATABASE_URL</key>
	<string>https://food-ordering-app-efbc9-default-rtdb.firebaseio.com</string>
</dict>
</plist>